@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.gastronomy_text {
  width: 60%;
  padding: 20px;
  min-width: 400px;
}
.gastronomy_cards {
  position: relative;
  padding: 3%;
  width: 40%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: "15px";
}
.logout-icon-avatar{
  color: black;
}
.logout-icon-avatar:hover{
  color: white;
}
.logout-avatar:hover{
  background-color: #0d6efd;
  cursor: pointer;
}
.Landing-title-1{
  font-size: 7vw;
  margin-left: 8%;
  color: black;
  font-family: "Tenor Sans, sans-serif";
}
.Landing-title-2{
  font-size: 10vw;
  margin-left: 8%;
  color: black;
  font-family: "Tenor Sans, sans-serif";
}
@media (max-width: 1000px) {
  .gastronomy_text {
    width: 100%;
  }
  .gastronomy_cards {
    width: 100%;
  }

  .lateral{
    display: none;
  }
  .Landing-title-1{
    font-size: 9vw;
  }
  .Landing-title-2{
    font-size: 12vw;
  }
}

@media (max-width: 600px) {
 
  .Landing-title-1{
    font-size: 11vw;
  }
  .Landing-title-2{
    font-size: 14vw;
  }
}
