html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}

.containerForm {
  width: 400px;
}

.success-alert {
  background-color: rgb(13, 110, 253);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.error-alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #721c24;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
}

.containerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.containerImage {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImage img {
  max-width: 100%;
  height: auto;
}
